<launch>


    <arg name="resolution" default="qhd" />
   
   <!-- Fixed frame id, you may set "base_link" or "base_link" if they are published -->
   <arg name="frame_id" default="kinect2_base_link"/>

      <arg name="gftt_block_size" default="5" /> 
   <arg name="gftt_min_distance" default="5" /> 
   
   <!-- Rotate the camera -->
   <arg name="pi/2" value="1.5707963267948966"/>
   <arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />
   <node pkg="tf" type="static_transform_publisher" name="kinect2_base_link"
        args="$(arg optical_rotate) kinect2_base_link kinect2_link 100" />

     <arg name="localization"      default="true"/>
  <arg     if="$(arg localization)" name="rtabmap_args"  default=""/>
  <arg unless="$(arg localization)" name="rtabmap_args"  default="--delete_db_on_start"/>

  <!-- Kinect cloud to laser scan -->
<!--     <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
      <param name="output_frame_id"    value="base_link"/>
      <remap from="image"     to="/kinect2/sd/image_depth"/>
      <remap from="camera_info" to="/kinect2/sd/camera_info"/>
      <remap from="scan" to="/kinect_scan"/>
      <param name="range_max" type="double" value="4"/>
    </node> -->

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <param name="target_frame"    value="$(arg frame_id)"/>
      <remap from="cloud_in"     to="/kinect2/qhd/points"/>
      <!-- <arg name="wait_for_transform"      value="0.5"/> -->

      <!-- <remap from="camera_info" to="/kinect2/sd/camera_info"/> -->
      <remap from="scan" to="/kinect_scan"/>
      <!-- <param name="range_max" type="double" value="4"/> -->
    </node>


  <!-- SLAM -->
  <group ns="rtabmap">

<node pkg="rtabmap_ros" type="rgbd_odometry" name="visual_odometry" output="screen">
      <remap from="rgb/image" to="/kinect2/$(arg resolution)/image_color_rect"/>
      <remap from="depth/image" to="/kinect2/$(arg resolution)/image_depth_rect"/>
      <remap from="rgb/camera_info" to="/kinect2/$(arg resolution)/camera_info"/>

      <param name="frame_id" type="string" value="$(arg frame_id)"/>
      <param name="approx_sync" type="bool" value="true"/>
    
      <param name="GFTT/BlockSize" type="string" value="$(arg gftt_block_size)"/>
      <param name="GFTT/MinDistance" type="string" value="$(arg gftt_min_distance)"/>
      <param name="queue_size" type="int" value="10"/>

</node>

<node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg rtabmap_args)">
      <param name="frame_id" type="string" value="$(arg frame_id)"/>

      <!-- <param name="subscribe_depth" type="bool" value="true"/> -->
      <param name="subscribe_scan" type="bool" value="true"/>
      <param name="subscribe_scan_cloud" type="bool" value="true" />

      <remap from="odom" to="odom"/>
      <remap from="scan" to="/kinect_scan"/>
      <remap from="cloud_scan" to="/kinect2/qhd/points"/>

      <remap from="rgb/image" to="/kinect2/$(arg resolution)/image_color_rect"/>
      <remap from="depth/image" to="/kinect2/$(arg resolution)/image_depth_rect"/>
      <remap from="rgb/camera_info" to="/kinect2/$(arg resolution)/camera_info"/>

      <param name="approx_sync" type="bool" value="true"/>

      <param name="queue_size" type="int" value="10"/>

    <!-- localization mode -->
  <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
  <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
  <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>


      <!-- RTAB-Map's parameters -->
      <!-- <param name="RGBD/ProximityBySpace"     type="string" value="true"/> -->
      <!-- <param name="RGBD/AngularUpdate"        type="string" value="0.01"/> -->
      <!-- <param name="RGBD/LinearUpdate"         type="string" value="0.01"/> -->
      <!-- <param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/> -->
      <!-- <param name="Optimizer/Slam2D"          type="string" value="true"/> -->
      <param name="Reg/Strategy"              type="string" value="0"/> <!-- 1=ICP -->
      <!-- <param name="Reg/Force3DoF"             type="string" value="true"/> -->
<!--       <param name="Vis/MaxDepth"              type="string" value="4.0"/>
      <param name="Vis/MinInliers"            type="string" value="5"/>
      <param name="Vis/InlierDistance"        type="string" value="0.05"/>
      <param name="Rtabmap/TimeThr"           type="string" value="700"/>
      <param name="Mem/RehearsalSimilarity"   type="string" value="0.45"/>
      <param name="Icp/CorrespondenceRatio"   type="string" value="0.5"/> -->
</node>
  </group>

</launch>
