<launch>


    <arg name="resolution" default="qhd" />
   
   <!-- Fixed frame id, you may set "base_link" or "base_link" if they are published -->
   <arg name="frame_id" default="kinect2_base_link"/>

      <arg name="gftt_block_size" default="5" /> 
   <arg name="gftt_min_distance" default="5" /> 

   <arg name="queue_size" default="10"/>
   
   <!-- Rotate the camera -->
   <arg name="pi/2" value="1.5707963267948966"/>
   <arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />
   <node pkg="tf" type="static_transform_publisher" name="kinect2_base_link"
        args="$(arg optical_rotate) kinect2_base_link kinect2_link 100" /> 


     <arg name="localization"      default="true"/>
  <arg     if="$(arg localization)" name="rtabmap_args"  default=""/>
  <arg unless="$(arg localization)" name="rtabmap_args"  default="--delete_db_on_start"/>

  <!-- Kinect cloud to laser scan -->
<!--     <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
      <param name="output_frame_id"    value="base_link"/>
      <remap from="image"     to="/kinect2/sd/image_depth"/>
      <remap from="camera_info" to="/kinect2/sd/camera_info"/>
      <remap from="scan" to="/kinect_scan"/>
      <param name="range_max" type="double" value="4"/>
    </node> -->

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <param name="target_frame"    value="$(arg frame_id)"/>
      <remap from="cloud_in"     to="/kinect2/qhd/points"/>
      <!-- <remap from="camera_info" to="/kinect2/sd/camera_info"/> -->
      <remap from="scan" to="/kinect_scan"/>
      <!-- <param name="range_max" type="double" value="4"/> -->
    </node>


  <!-- SLAM -->
  <group ns="rtabmap">

<node pkg="rtabmap_ros" type="rgbd_odometry" name="visual_odometry" output="screen">

      <remap from="rgb/image" to="/kinect2/$(arg resolution)/image_color_rect"/>
      <remap from="depth/image" to="/kinect2/$(arg resolution)/image_depth_rect"/>
      <remap from="rgb/camera_info" to="/kinect2/$(arg resolution)/camera_info"/>
       <param name="wait_for_transform_duration" type="double"   value="0.8"/>
      <param name="frame_id" type="string" value="$(arg frame_id)"/>
      <param name="approx_sync" type="bool" value="true"/>
    
      <param name="GFTT/BlockSize" type="string" value="$(arg gftt_block_size)"/>
    
      <param name="GFTT/MinDistance" type="string" value="$(arg gftt_min_distance)"/>

</node>

<node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg rtabmap_args)">
      <param name="frame_id" type="string" value="$(arg frame_id)"/>

      <!-- <param name="subscribe_depth" type="bool" value="true"/> -->
      <param name="subscribe_scan" type="bool" value="true"/>
      <param name="subscribe_scan_cloud" type="bool" value="true" />

      <remap from="odom" to="odom"/>
      <remap from="scan" to="/kinect_scan"/>
      <remap from="cloud_scan" to="/kinect2/qhd/points"/>

      <param name="wait_for_transform_duration" type="double"   value="0.8"/>


      <remap from="rgb/image" to="/kinect2/$(arg resolution)/image_color_rect"/>
      <remap from="depth/image" to="/kinect2/$(arg resolution)/image_depth_rect"/>
      <remap from="rgb/camera_info" to="/kinect2/$(arg resolution)/camera_info"/>
      <param name="queue_size"           type="int"    value="$(arg queue_size)"/>


      <param name="queue_size" type="int" value="10"/>

    <!-- localization mode -->
  <param unless="$(arg localization)" name="Rtabmap/TimeThr"        type="string" value="700"/>
  <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
  <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
  <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
  <param name="queue_size"           type="int"    value="$(arg queue_size)"/>


      <!-- RTAB-Map's parameters -->

      <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>

<!--       <param name="RGBD/ProximityBySpace"     type="string" value="false"/>
      <param name="Optimizer/Slam2D"          type="string" value="true"/>
      <param name="Reg/Strategy"              type="string" value="0"/>  --><!-- 1=ICP -->
<!--       <param name="Reg/Force3DoF"             type="string" value="true"/>
      <param name="Vis/MaxDepth"              type="string" value="4.0"/>
      <param name="Vis/MinInliers"            type="string" value="5"/>
      <param name="Vis/InlierDistance"        type="string" value="0.05"/>
      <param name="Icp/CorrespondenceRatio"   type="string" value="0.5"/> -->

      <!-- <param name="Rtabmap/TimeThr"           type="string" value="700"/> -->
      <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
      <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
      <param name="Mem/RehearsalSimilarity"   type="string" value="0.45"/>


<!--     <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(arg gui_cfg)" output="$(arg output)" launch-prefix="$(arg launch_prefix)">
      <! <param     if="$(arg stereo)" name="subscribe_depth"  type="bool" value="false"/> -->
      <!-- <param name="subscribe_depth"  type="bool" value="true"/> -->
      <!-- <param name="subscribe_rgbd"       type="bool"   value="$(arg subscribe_rgbd)"/> -->
      <!-- <param name="subscribe_stereo"     type="bool"   value="$(arg stereo)"/> -->
      <!-- <param name="subscribe_scan"       type="bool"   value="$(arg subscribe_scan)"/> -->
      <!-- <param name="subscribe_scan_cloud" type="bool"   value="$(arg subscribe_scan_cloud)"/> -->
      <!-- <param if="$(arg visual_odometry)" name="subscribe_odom_info" type="bool" value="true"/> -->
      <!-- <param if="$(arg icp_odometry)"    name="subscribe_odom_info" type="bool" value="true"/> -->
      <!-- <param name="frame_id"             type="string" value="$(arg frame_id)"/> -->
      <!-- <param name="odom_frame_id"        type="string" value="$(arg odom_frame_id)"/> -->
      <!-- <param name="queue_size"           type="int"    value="$(arg queue_size)"/> -->
      <!-- <param name="approx_sync"          type="bool"   value="true"/> -->
    
      <!-- <remap from="rgb/image"       to="$(arg rgb_topic_relay)"/> -->
      <!-- <remap from="depth/image"     to="$(arg depth_topic_relay)"/> -->
      <!-- <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/> -->
      
      <!-- <remap from="rgbd_image"      to="$(arg rgbd_topic)"/> -->
<!--       
      <remap from="left/image_rect"        to="$(arg left_image_topic_relay)"/>
      <remap from="right/image_rect"       to="$(arg right_image_topic_relay)"/>
      <remap from="left/camera_info"       to="$(arg left_camera_info_topic)"/>
      <remap from="right/camera_info"      to="$(arg right_camera_info_topic)"/> -->
      
      <!-- <remap from="scan"                   to="$(arg scan_topic)"/> -->
      <!-- <remap from="scan_cloud"             to="$(arg scan_cloud_topic)"/> -->
      <!-- <remap from="odom"                   to="$(arg odom_topic)"/> --> -->
    <!-- </node> -->

</node>
  </group>

<!--   <group ns="planner">
     <remap from="scan"             to="/kinect_scan"/>
     <remap from="obstacles_cloud"       to="/obstacles_cloud"/>
     <remap from="ground_cloud"          to="/ground_cloud"/>
     <remap from="map"                   to="/map"/>
        
     <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
        <param name="base_global_planner" value="navfn/NavfnROS"/>
      <rosparam file="$(find rtabmap_ros)/launch/azimut3/config/costmap_common_params_2d.yaml"  command="load" ns="global_costmap" />
      <rosparam file="$(find rtabmap_ros)/launch/azimut3/config/costmap_common_params_2d.yaml"  command="load" ns="local_costmap" />
      <rosparam file="$(find rtabmap_ros)/launch/azimut3/config/local_costmap_params.yaml"      command="load" ns="local_costmap" />
      <rosparam file="$(find rtabmap_ros)/launch/azimut3/config/global_costmap_params.yaml"     command="load" ns="global_costmap"/>
      <rosparam file="$(find rtabmap_ros)/launch/azimut3/config/base_local_planner_params.yaml" command="load" />
     </node>
      
     <param name="cmd_vel/abtr_priority" value="10"/>
  </group>
 -->

</launch>
